<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Service</title>
  <link rel="stylesheet" type="text/css" href="../assets/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../assets/static/style.css" />
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        
            <a class="navbar-brand" href="#"><img src="../assets/img/spherical_logo.svg" alt="Logo"></a>
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-flex" id="navbarNav">
          <ul class="navbar-nav menu-list">
            <li class="nav-item">
              <a href="#">Products</a>
            </li>
            <li class="nav-item">
              <a href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a href="#Our Approach.html">Approach</a>
            </li>
            <li class="nav-item">
              <a href="#">Investors</a>
            </li>
            <li class="nav-item">
              <a href="team.html">Team</a>
            </li>
            <li class="nav-item">
              <a href="#">Jobs</a>
            </li>
            <li class="nav-item">
              <a href="AboutUs.html">About Us</a>
            </li>
            <li class="nav-item">
              <a href="#">Contacts</a>
            </li>
          </ul>
          <div class="language ">
                 <p>DE</p>
              </div>
          </div>
               
        </div>
      </nav>
    </div>
  </header>

  <section>
   <div class="container title">
     <div class="row">
       <div class="col-md-12 title-text">
         <h1>For Investors</h1>
       </div>
     </div>
   </div>

   <div class="container investors investors_main">
     <div class="row">
       <div class="col-md-8">
             <p>
              Spherical is a privately held company, it received its capital from its founders and a few private investors. At its present scale, Spherical is funded till 2020.
            </p>
        </div>
         <div class="col-md-4 right">
             <p>If you are an existing investor or if you have questions about the company capital, business plan and participation, please direct your queries to <a href="#">invest@spherical.pm</a></p>
         </div>
      </div>
    </div>
        <div class="row">
         <div class="investors_main investors-top investors_box">

             <h2>Technology choice</h2>
               <p>
                  We prefer mature free/open source technologies in our stack but we do use commercial technologies as well. The main considerations are functional fit to client needs and simple and secure licensing arrangements.
               </p>

          </div>
      </div>
          
    
  </div>
</section>

<footer>
 <div class="container">
   <div class="row">
     <div class="col-md-6 private-footer">
       <p>© spherical.pm 2018</p>
       <p>Privacy Policy and GDPR</p>
     </div>
     <div class="col-md-6 service-footer">
       <a href="#">services@spherical.pm</a>
     </div>
   </div>
 </div>
</footer>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>
