<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Our Approach</title>
  <link rel="stylesheet" type="text/css" href="../assets/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../assets/static/style.css" />
</head>
<body>
<header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        
            <a class="navbar-brand" href="#"><img src="../assets/img/spherical_logo.svg" alt="Logo"></a>
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-flex" id="navbarNav">
          <ul class="navbar-nav menu-list">
            <li class="nav-item">
              <a href="#">Products</a>
            </li>
            <li class="nav-item">
              <a href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a href="Our Approach.html">Approach</a>
            </li>
            <li class="nav-item">
              <a href="#">Investors</a>
            </li>
            <li class="nav-item">
              <a href="team.html">Team</a>
            </li>
            <li class="nav-item">
              <a href="#">Jobs</a>
            </li>
            <li class="nav-item">
              <a href="AboutUs.html">About Us</a>
            </li>
            <li class="nav-item">
              <a href="#">Contacts</a>
            </li>
          </ul>
          <div class="language ">
                 <p>DE</p>
              </div>
          </div>
               
        </div>
      </nav>
    </div>
  </header>

  <section>
   <div class="container title">
     <div class="row">
       <div class="col-md-12 title-text">
         <h1>Our Approach</h1>
       </div>
     </div>
   </div>

   <div class="container approach approach_main">
     <div class="row">
       <div class="col-md-8">
         <div>
             <h4>
              No two clients are alike. Spherical is flexible to combine a variety of technology and management approaches to achieve the best value for each of its clients
             </h4>
         </div>

         <div class="approach_main approach-top">
             <a name="Technology_choice"><a/><h2>Technology choice</h2>
               <p>
                  We prefer mature free/open source technologies in our stack but we do use commercial technologies as well. The main considerations are functional fit to client needs and simple and secure licensing arrangements.
               </p>

          </div>

           <div class="approach_main approach-top ">
               <a name="Business_analysis"><a/><h2>Business analysis</h2>
                 <p>
                   We strive to understand the task at hand as best we can from the onset to save time and rework later on. Having said that, prototyping and agility are integral parts of our development process. We select the approach to business analysis and requirements gathering together with the client and based on the unique circumstances of the project. Regardless of the option chosen, we make sure that requirements are well-documented for any project. Special attention is paid to non-functional requirements (availability, security, performance...) so the product reaches production maturity before being declared done.
                 </p>
            </div>


            <div class="approach_main approach-top">
                <a name="Project_management"><a/><h2>Project management</h2>
                  <p>
                    The .pm in our name, spherical.pm, stands for project management. We are obsessed with doing projects right — that is, well planned, well executed, well tracked, and well reported on. We have on-board expertise in both PMI and PRINCE2 methodologies for project management and we select and tailor the one most suited to the needs and organisational build-up of our clients. We use the industry-leading Atlassian product suite to track our projects collaboratively with and transparent to the client.
                  </p>
            </div>

              <div class="approach_main approach-top">
                <a name="Support"><a/><h2>Support</h2>
                    <p>
                      Support arrangement comes out of any project or purchase. All Spherical products and services are shipped with a committed life cycle plan. Support is typically provided by email and/or through web tracking systems; support for free products is provided via a community forum.
                    </p>

              </div>

              <div class="approach_main approach-top">
                <a name="Contracting"><a/><h2>Contracting</h2>
                    <p>
                      We care about sustainability and the environment and we want to be useful in governments' efforts in these areas. We are fully aware of the specificity of public procurement and we have specialists on board who will work with our clients' procurement departments and deliver to all requirements of the process.
                    </p>

              </div>
      </div>
      <div class="col-md-1">
        
      </div>


      <div class="col-md-3 right-bar">
          <a href="#Technology_choice">Technology choice</a>
          <a href="#Business_analysis">Business analysis</a>
          <a href="#Project_management">Project management</a>
          <a href="#Support">Support</a>
          <a href="#Contracting">Contracting</a>
          <a href="#">Privacy and GDPR</a>
      </div>
    </div>
  </div>

</section>

 <footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 private-footer">
        <p>© spherical.pm 2018</p>
        <a href="Privacy and GDPR.html"><p>Privacy Policy and GDPR</p></a>
      </div>
      <div class="col-md-6 service-footer">
        <a href="#">services@spherical.pm</a>
      </div>
    </div>
  </div>
</footer>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>
