<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team</title>
  <link rel="stylesheet" type="text/css" href="../assets/static/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../assets/static/style.css" />
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        
            <a class="navbar-brand" href="#"><img src="../assets/img/spherical_logo.svg" alt="Logo"></a>
          
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse menu-flex" id="navbarNav">
          <ul class="navbar-nav menu-list">
            <li class="nav-item">
              <a href="#">Products</a>
            </li>
            <li class="nav-item">
              <a href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a href="Our Approach.html">Approach</a>
            </li>
            <li class="nav-item">
              <a href="#">Investors</a>
            </li>
            <li class="nav-item">
              <a href="team.html">Team</a>
            </li>
            <li class="nav-item">
              <a href="#">Jobs</a>
            </li>
            <li class="nav-item">
              <a href="AboutUs.html">About Us</a>
            </li>
            <li class="nav-item">
              <a href="#">Contacts</a>
            </li>
          </ul>
          <div class="language ">
                 <p>DE</p>
              </div>
          </div>
               
        </div>
      </nav>
    </div>
  </header>

  <section>
   <div class="container title">
     <div class="row">
       <div class="col-md-12 title-text">
         <h1>Team</h1>
       </div>
     </div>
   </div>

   <div class="team team_main">
     <div class="row team-top">
       <div class="col-md-4">
           <img src="../assets/img/Rectangle.png" alt="Rectangle">
        </div>
        <div class="col-md-8 team_main">
             <h2>Mikhail Vartanyan</h2>
             <h3>Managing Director</h3>
               <p>
                 Mikhail came to Spherical after 20 years in software development and IT management, out of which 15 have been within the UN system. From hard technical problems to the trenches of working level diplomacy, Mikhail has learned to harness the power of diversity to enable anyone to contribute towards a good cause. He aspires to be seen by others as a bridge between technical, political and business worlds, enabling synergies in delivering good things together. Mikhail used to professionally program in C, Delphi, Java and Python. In his management career, he was exposed to project management (PMI and PRINCE2, with and without iterative aspects), service and operations management (ITIL), anti-crisis management and IT auditing. At Spherical, he is in charge of the business development strategy and customer relationships.
               </p>
          </div>
          </div>
          <div class="row team-top">
            <div class="col-md-8">
                <h2>Anton Patrushev</h2>
                <h3>Chief Technology Officer</h3>
                   <p>
                     Anton is an architecture visionary and a rock star software developer with 20 years of experience programming and leading programmers in the private sector and in the UN system. His motto is "everything can be programmed" and he is living by it day to day, routinely materializing what had seemed impossible to others before. Anton used to professionally program in C++, Python, Java, JavaScript. Having an extensive background in networking, voice and video telecommunications, and IT security, he provided technical leadership to development of multiple business-critical high availability/high load systems. He is an expert in performance-tuning of legacy applications and a champion Docker implementer. At Spherical, he is in charge of the technology platform and architecture.
                   </p>
            </div>
            <div class="col-md-4">
               <img src="../assets/img/Rectangle-2.png" alt="Rectangle-2">
            </div>
          </div>


          <div class="row team-top">
            <div class="col-md-4">
                <img src="../assets/img/Rectangle-3.png" alt="Rectangle-3">
             </div>
             <div class="col-md-8">
                  <h2>Anton Shchetko</h2>
                  <h3>Developer</h3>
                    <p>
                      Mikhail came to Spherical after 20 years in software development and IT management, out of which 15 have been within the UN system. From hard technical problems to the trenches of working level diplomacy, Mikhail has learned to harness the power of diversity to enable anyone to contribute towards a good cause. He aspires to be seen by others as a bridge between technical, political and business worlds, enabling synergies in delivering good things together. Mikhail used to professionally program in C, Delphi, Java and Python. In his management career, he was exposed to project management (PMI and PRINCE2, with and without iterative aspects), service and operations management (ITIL), anti-crisis management and IT auditing. At Spherical, he is in charge of the business development strategy and customer relationships.
                    </p>
               </div>
               </div>

               <div class="row team-top">
                 <div class="col-md-8">
                     <h2>Dmitrii Minaev</h2>
                     <h3>Developer</h3>
                        <p>
                          Mikhail came to Spherical after 20 years in software development and IT management, out of which 15 have been within the UN system. From hard technical problems to the trenches of working level diplomacy, Mikhail has learned to harness the power of diversity to enable anyone to contribute towards a good cause. He aspires to be seen by others as a bridge between technical, political and business worlds, enabling synergies in delivering good things together. Mikhail used to professionally program in C, Delphi, Java and Python. In his management career, he was exposed to project management (PMI and PRINCE2, with and without iterative aspects), service and operations management (ITIL), anti-crisis management and IT auditing. At Spherical, he is in charge of the business development strategy and customer relationships.

                        </p>
                 </div>
                 <div class="col-md-4">
                    <img src="../assets/img/Rectangle-4.png" alt="Rectangle-4">
                 </div>
               </div>

        </div>
   </div>
 </div>
</section>

<footer>
 <div class="container">
   <div class="row">
     <div class="col-md-6 private-footer">
       <p>© spherical.pm 2018</p>
       <a href="Privacy and GDPR.html"><p>Privacy Policy and GDPR</p></a>
     </div>
     <div class="col-md-6 service-footer">
       <a href="#">services@spherical.pm</a>
     </div>
   </div>
 </div>
</footer>
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
</body>
</html>
